 
{% extends "base.html" %}
{% load static %}
{% load course %}
{% load i18n %}

{% block content %}


<link rel="stylesheet" href="{%static 'css/dashboard1.css'%}">
<link rel="stylesheet" href="{%static 'css/base.css'%}">




{%include 'sidenavbar.html'%}
      
</div>
<div id="main">
    <button class="openbtn" onclick="openNav()" style="background-color: transparent;color: #111; "></button>
</div>

   <div class="wow" style="margin-left: 180px; text-align: center; float: right;" >
   
   
    
    <ul class="content-types" style="background-color: transparent;">
       
        <li style="background-color: transparent;"><a href="{% url 'module_content_create' module.id 'file'%}" class="link"  ><i class="far fa-file-alt"></i></li>
        <li style="background-color: transparent;"><a href="{% url 'module_content_create' module.id 'image'%}" class="link"  ><i class="far fa-images"></i></a></li>
        <li style="background-color: transparent;"><a href="{% url 'module_content_create' module.id 'video' %}" class="link" ><i class="fas fa-video"></i></a></li>
        <li style="background-color: transparent;"><a href="{% url 'module_content_create' module.id 'text' %}" class="link" ><i class="fas fa-remove-format"></i></a></li>
    </ul>
    <br><br>
    </div>

     <div class="row" style="margin-left: 180px;">
    {% with course=module.course %}
    
    
   
    <div class="module" style="margin-left: auto;" >
        <h2> {{ module.title }} <span><a href="{% url 'course_module_update' course.id %}"> <i class="fas fa-edit" style="color: purple;"></i> </a></span></h2> 
        <h3>Module contents:</h3>
        <div id="module-contents">
            {% for content in module.contents.all %}
            <div data-id="{{ content.id }}" style="margin-bottom: 20px;"> 
                {% with item=content.item %}
                <p style="margin-bottom: 10px;">{{ item }}</p> <br>
                {{ item.render }}
                <a href="{% url 'module_content_update' module.id item|model_name item.id %}" class="btn btn-sm btn-success">{% trans 'Edit' %}</a>
                <form action="{% url 'module_content_delete' content.id %}" method="post">
                <button type="submit" class="btn btn-sm btn-danger" value="{% trans 'Delete' %}">Delete</button>
                {% csrf_token %}
            </form>
            {% endwith %}
        </div>
        {% empty %}
        <p>{% trans 'This module has no contents yet.' %}</p>
        {% endfor %}

     </div>
    <hr>
    </div>
    {% endwith %}


    
{% endblock %}
