 
{% extends "base.html" %}
{% load static %}
{% load course %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{%static 'css/dashboard.css'%}">



<div id="mySidebar" class="sidebar" style="text-align: center;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
    <a href="#" style="color: lightcoral; margin-top: -60px;margin-bottom: 35px;margin-right: 20px;"> <span style="color: red; font-size: 30px; font-family: 'Vast Shadow'; ">VS </span> </a>
    <a href="{% url 'profile' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-user-circle" style="color: white;"> </i> <br><span style="font-size: 16px;">Profile</span><br> </a>
    <a href="{% url 'subjects-list' %}" style="color: black;margin-right: 20px; "> <i class="fas fa-graduation-cap" style="color: white"></i><br><span style="font-size: 16px;">Subjects</span> </a>
    <a href="{% url 'create-subject' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-upload"style="color: white;"> </i> <br> <span style="font-size: 16px;">Upload Subject</span><br> </a>
 
    
</div>
<div id="main">
    <button class="openbtn" onclick="openNav()" style="background-color: transparent;color: #111; "></button>
</div>
    {% with course=module.course %}
    <div class="contents" style="margin-left: 30%;">
    <h1>{{ course.course_name }}</h1>
   
    <div style="margin-left: 50%; ">
        <h3 >All modules</h3>
        <ul id="modules" >
            {% for m in course.modules.all %}
            <li data-id="{{ m.id }}" {% if m == module %}
            class="selected"{% endif %}>
            <a href="{% url 'module_content_list' m.id %}">
                <span>
                    <!-- Module <span class="order">{{ m.order }}</span> -->
                </span>
                
                {{ m.title }}
                <br>
            </a> </li>
            {% empty %}
            <li>No modules yet.</li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'course_module_update' course.id %}"><button type="button" class="btn btn-sm btn-primary">Edit modules</button></a></p>
        </div>

    </div>
   
    <div class="module" style="margin-left: 200px;">
        <h2> {{ module.title }}</h2>
        <h3>Module contents:</h3>
        <div id="module-contents">
            {% for content in module.contents.all %}
            <div data-id="{{ content.id }}">
                {% with item=content.item %}
                <p>{{ item }} ({{ item|model_name}})</p>
                {{ item.render }}
                <a href="{% url 'module_content_update' module.id item|model_name item.id %}" class="btn btn-secondary">{% trans 'Edit' %}</a>
                <form action="{% url 'module_content_delete' content.id %}" method="post">
                <input type="submit" class="btn btn-secondary" value="{% trans 'Delete' %}">
                {% csrf_token %}
            </form>
            {% endwith %}
        </div>
        {% empty %}
        <p>{% trans 'This module has no contents yet.' %}</p>
        {% endfor %}

    </div>
    <hr>
    <h3>{% trans 'Add new content' %}:</h3>
    <img src="{% trans 'Image' %}" alt="" srcset="">
    <ul class="content-types">
        <li><a href="{% url 'module_content_create' module.id 'text' %}" class="link">{% trans 'Text' %}</a></li>
        <li><a href="{% url 'module_content_create' module.id 'image'%}" class="link">{% trans 'Image' %}</a></li>
        <li><a href="{% url 'module_content_create' module.id 'video' %}" class="link">{% trans 'Video' %}</a></li>
        <li><a href="{% url 'module_content_create' module.id 'file' %}" class="link">{% trans 'File' %}</a></li>
    </ul>
    </div>
    {% endwith %}
   

{% endblock %}

