{% extends "base.html" %}
{% load static %}
{% load course %}
{% load i18n %}

{% block content %}


<link rel="stylesheet" href="{%static 'css/dashboard1.css'%}">




{%include 'sidenavbar.html'%}
   <div class="row" style="margin-top: -45px;padding-left: 200px;">
      
         <img src="../../../../../static/images/Front End UI Testing Process.png" style="width:450px; height:300px;">
         <div  class="col-lg-10">
           <h5 style="margin-top: 50px;">{{ course.course_name }}</h5>
           <hr>
           <form action="" method="post">
               <fieldset class="form-group" style="width: 550px;">
             {{ formset.as_p }}
             {{ formset.management_form.as_p }}
             {% csrf_token %}
             <input type="submit" class="btn btn-sm" value=" Save modules" style="background-color: purple;color: white;">
            </fieldset>
            </form>
      </div>
    </div>


{% endblock %}