 

{% load crispy_forms_tags %}
{% block title %}
{% if object %}
Edit course "{{ object.course_name }}"
{% else %}
Create a new course
{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<h1>
    {% if object %}
    Edit course "{{ object.course_name }}"
    {% else %}
    Create a new course
    {% endif %}
</h1>
<div class="user_card">
    <img src="../../../static/images/4787_-_Working_in_Office-512.webp" style="width:350px; height:200px;">
    <div class="d-flex justify-content-center form_container">
        <div class="module">
            <h2>Course info</h2>

            <form action="" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-outline-primary" value="Save course"></p>
            </form>
        </div>
    </div>
</div>
<style>
    .user_card {
        text-align: center;
        /* width: 350px; */
        margin-top: 10%;
        margin-bottom: auto;
        background: #fafafa;
        /* position: relative; */
        /* display: center; */
        /* justify-content: center; */
        /* flex-direction: column; */
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        border-radius: 15px;
        margin: 300px;
        background: #833ab4;
        background: -webkit-linear-gradient(to top, #7e5f35, #5a9325, #a049da);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #c448dd, #d6cc3e, #3a73b4);


    }

    .form_container {
        margin-top: 20px;
    }
</style>
{% endblock %}