{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/dashboard.css'%}">

  
{%include 'sidenavbar.html'%}


<div class="user_card" style="margin-top: -50px;">
    <img src="../../../static/images/4787_-_Working_in_Office-512.webp" style="width:250px; height:200px;">
    <div class="d-flex justify-content-center form_container">
        <div class="module">
            <h2>Course info</h2>

            <form action="" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <p><input type="submit" class="btn  btn-sm" value="Save course" style="background-color: purple;color: white;"></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}