 
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/dashboard.css'%}">

  
{%include 'sidenavbar.html'%}



<h1>
  {% if object %}
    Edit content "{{ object.title }}"
  {% else %}
  <div class="container">
 
  </div>
   
  {% endif %}
</h1>
<div class="users_card">

<div class="module">
  <h4 style="padding: 16px; background-color: cornflowerblue; border-radius: 2px; border: 2px solid blueviolet;">ADD CONTENT BELOW</h4>
  <form action="" method="post" enctype="multipart/form-data">
    {{ form|crispy }}
    {% csrf_token %}
    <p><input type="submit" class="btn btn-outline-primary" value="Save content"></p>
  </form>
</div>
</div>
<style>
    .body{
      padding: 0;
      margin: 0;
    }

    .page-title{
      color: cornflowerblue;
      margin-top: 10%;
      font-size: 20px;
     
    }


    .users_card {
        text-align: center;
        /* width: 350px; */
       
        margin-left: 40%;
        margin-top: 20%;
       
        background: #fafafa;
        /* position: relative; */
        /* display: center; */
        /* justify-content: center; */
        /* flex-direction: column; */
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        border-radius: 15px;
        
        /* background: #833ab4; */
        /* background: -webkit-linear-gradient(to top, #7e5f35, #5a9325, #a049da); */
        /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to top, #c448dd, #d6cc3e, #3a73b4); */


    }

</style>
{% endblock %}