 
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if object %}
  Edit content "{{ object.title }}"
{% else %}
  Add a new content
{% endif %}
{% endblock %}

{% block content %}
<h1>
  {% if object %}
    Edit content "{{ object.title }}"
  {% else %}
    Add a new content
  {% endif %}
</h1>
<div class="users_card">
  <img src="../../../../../static/images/Front End UI Testing Process.png" style="width:350px; height:200px;">
<div class="module">
  <h2>Course info</h2>
  <form action="" method="post" enctype="multipart/form-data">
    {{ form|crispy }}
    {% csrf_token %}
    <p><input type="submit" class="btn btn-outline-primary" value="Save content"></p>
  </form>
</div>
</div>
<style>
    .users_card {
        text-align: center;
        /* width: 350px; */
        margin-top: 10%;
        margin-bottom: auto;
        background: #fafafa;
        /* position: relative; */
        /* display: center; */
        /* justify-content: center; */
        /* flex-direction: column; */
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        border-radius: 15px;
        margin: 10px;
        background: #833ab4;
        background: -webkit-linear-gradient(to top, #7e5f35, #5a9325, #a049da);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #c448dd, #d6cc3e, #3a73b4);


    }

</style>
{% endblock %}