{%extends 'layout.html' %}
{%load static%}
{% load crispy_forms_tags%}
{%block content%}
{%include 'sidebar.html'%}
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="subjects">
                    {% for subject in subjects %}
                    <a href="{% url 'subject_courses' subject.id %}"><button type="button" id="sub_{{subject.id}}"
                            class="btn btn-rounded">{{subject.title}}</button> </a>

                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="img-sect">
                    <img src="{% static 'photos/student.png'%}" height="100%" width='100%' alt="">
                </div>
                
            </div>
        </div>
    </div>
{%endblock%}
