<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid" style="background-color:darkgray; font-family: 'Raleway', sans-serif; position:unset;bottom: 0px;">
        <div class="container" style="background-color:darkgray;">
            <div class="row" >
                <div class="col-md-6">
                    <h6>The virtual school is the center for excellence</h6>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <h6>Next Conference <u><strong>NewYork</strong></u> and <u><strong>Amsterdam</strong> </u></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:20px;">
                    <h6>School moto: Cetre for excellence</h6>
                </div>
                <div class="col-md-12" style="padding-top:20px;">
                    <h6>Private <strong>Stackscale</strong></h6>
                </div>
            </div>
        </div>
    </div>
</body>

</html>