{% extends 'student/base.html' %}
{% load static %}
{% block styles %}
{{block.super}}

{% endblock%}
{% block content %}
{{block.super}}


<!-- <div class="btn1 btn container-fluid" style="background-color: gray; width: 100%;"> -->
  <div id="home">


<div class="btn1 btn container-fluid" style="background-image: url(static/img/Computer-Class.png) ; width: 100%;">


  <div class="header" style="height: 100vh; font-family: 'Metal Mania', cursive;">
    <div class="container" style="color:blueviolet;">
      <div class="row" style="padding-top:50px;">
        <div class="col-md-4" style="font-size: large; ">
          <strong><cite>Today's date</strong> {{date|date:"l,F d, Y"}}</cite>
        </div>
        <div class="col-md-4"></div>

      </div>
      <div style="text-align:center; font-size: large; padding-top:30px;">
        <p style="font-family: Arial, Helvetica, sans-serif; color:blueviolet; font-size: x-large; font-weight: bold;"
          class="blog">WELCOME TO VIRTUAL SCHOOL
          APPLICATION:</p>
      </div>
      <div style="text-align:center; font-size: 20px;">
        <p class=""
          style="font-family: 'Times New Roman', Times, serif; color:blueviolet; font-size: x-large; font-weight: bold;">
          THIS IS THE CENTRE FOR EXCELLENCE<br>
          <strong style="color:blueviolet; font-size: x-large; font-weight: bold;" class="mr-3"> ENROLL FOR A COURSE OF
            YOUR CHOICE</strong> </p>
      </div>
      <div style="height:230px;">

      </div>

    </div>
  </div>
</div>
  </div>

<!-- about us -->
<div class="container">
  <h1 class="text-center mt-5 mb-5">ABOUT US</h1>
  <div id="about">

    <h3>Virtual school offers online courses in Engineering, Information Technology, Computing, Business </h3>

    <div class="row">

      <div class="col-md-4">
        <h1>School Mission</h1>
        <p>
          To advance knowledge and technological transfer through teaching, training, learning, research, and innovation
          for sustainable development.
        </p>
      </div>
      <div class="col-md-4">
        <h1>Philosophy</h1>
        <p>
          Virtual school is committed to knowledge creation and advancement through innovative strategies and
          technologies for prosperity.
        </p>
      </div>
      <div class="col-md-4">
        <h1>School Vission</h1>
        <p>
          A Leading School in Technological Innovation, Research, and Training.
        </p>
      </div>
    </div>
  </div>
</div>







<!-- <div class="container-fluid "> -->
  <div id="contacts">
      <div style="text-align:center">
          <h2>Contact Us</h2>
          <p>Incase of any Complaints or you would like to drop any feedback<br>Fill the form below and we will be
              grand for your reply.</p>
      </div>
      <div class="row">
          <div class="col-md-6 " >
              

            <form>
              <label>User Name</label><br>
              <input name="name" type="text" placeholder="user name" id="name" required><br>
              <label>User Email</label><br>
              <input name="Email" type="text" placeholder="Email address" required><br>
              <div>
                <textarea name="message" placeholder="Your message here..." id="" cols="50" rows="5"></textarea><br>
                <button type="submit" onclick="nameOfUser()" class="btn btn-primary">Submit text</button>
              </div>
            </form>


          </div>

          <!-- <div class="col-md-6">
              <div class=" map embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item"
                   src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap">

              </div>
          </div> -->
      </div>
  </div>
<!-- </div> -->









{% endblock %}