{% extends 'student/base.html' %}
{% load static %}
{% block styles %}
{{block.super}}

{% endblock%}
{% block content %}
{{block.super}}

<div class="container-fluid">
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#about">About Us</a></li>
  <!-- <li><a href="#contacts">Contacts</a></li> -->

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Subjects</a>
    <div class="dropdown-content">
      <a href="#">Business</a>
      <a href="#">Engineering</a>
      <a href="#">Arts</a>
      <a href="#">Science</a>


    </div>
  </li>
</ul>
</div>



<div class="container-fluid">



  <div id="home">



    
    


    <div class="btn1 btn container-fluid" style="background-image: url(static/img/landing10.jpg) ; width: 100%;">


      <div class="header" style="height: 80vh; font-family: 'Metal Mania', cursive;">
        <div class="container" style="color:blueviolet;">
          <div class="row" style="padding-top:50px;">
            <div class="col-md-4" style="font-size: large; ">
              <strong><cite>Today's date</strong> {{date|date:"l,F d, Y"}}</cite>
            </div>
            <div class="col-md-4"></div>

          </div>
          

          <div style="height:230px;">

          </div>

        </div>
      </div>
    </div> 


  </div>





  

</div>

<div class="container-fluid">
  <div id="about">

<br><h1>About Us </h1>
    <div class="row">

    




      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Intakes</h2>
              <p class="card-text">Our intakes are on January, May and on September in every year.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Examinations </h2>
              <p class="card-text"> Students shall be required to sit for continous assessment test after every month before sitting for main exam at end of term.</p>
              <a href="#" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Graduation</h2>
              <p class="card-text"> The holds a gradution ceremony at end of the year which is held in campus gradution square</p>
              <a href=" #only students who shall have completed and passed exams will graduate" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>


      </div>




      
      <div class="col-md-4 " class="alert alert-success" role="alert" >
        <h1>School Mission</h1>
        <p class="mb-0" >
          To advance knowledge and technological transfer through teaching, training, learning, research, and innovation
          for sustainable development.
        </p>
      </div>


      <div class="col-md-4" class="alert alert-success" role="alert">
        <h1  class="alert-heading"> Philosophy</h1>
        <p class="mb-0" >
          Virtual school is committed to knowledge creation and advancement through innovative strategies and
          technologies for prosperity.
        </p>
      </div>
      <div class="col-md-4"class="alert alert-success" role="alert">
        <h1>School Vission</h1>
        <p class="mb-0">
          A Leading School in Technological Innovation, Research, and Training.
        </p>
      </div>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>


      <div class="carousel-inner">



        <div class="carousel-item active" col-md-2>
          <div></div>
          <img class="d-block w-80" src="static/img/comp.jpeg" alt="First slide">
          <div class="carousel-caption d-none d-md-block" style="color:blueviolet;" >
            <p >Welcome to Virtual school and enroll for a course in the department of Business.<br>To advance knowledge and technological transfer through teaching, training, learning, <br>research, and innovation for sustainable development.</p>
          </div>
        </div>

        <div class="carousel-item" col-md-2>
          <img class="d-block w-80" src="static/img/comp4.jpeg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block" style="color:blueviolet;" >
            <p>Welcome to Virtual school and enroll for a course in the department of computing anf information techlogy.<br>To advance knowledge and technological transfer through teaching, training,<br> learning, research, and innovation for sustainable development. </p>
          </div>
        </div>

        <div class="carousel-item" col-md-2>
          <img class="d-block w-800" src="static/img/comp5.jpeg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block" style="color:blueviolet;" >
            <p>Welcome to Virtual school and enroll for a course in the department of Engineering.<br>  To advance knowledge and technological transfer through teaching,<br> training, learning, research, and innovation for sustainable development.</p>
          </div>
        </div>
        <div class="carousel-item" col-md-2>
          <img class="d-block w-80" src="static/img/comp7bus.jpeg" alt="Fourth slide">
          <div class="carousel-caption d-none d-md-block" style="color:blueviolet;" >
             <p>Welcome to Virtual school and enroll for a course in the department of Arts.<br>  To advance knowledge and technological transfer through teaching, training,<br> learning, research, and innovation for sustainable development.</p>
            .
          </div>
        </div>


        <div class="carousel-item" col-md-2>
          <img class="d-block w-80" src="static/img/comp8.jpeg" alt="fifth slide">
          <div class="carousel-caption d-none d-md-block" style="color:blueviolet;" >
            <p>Enroll for an online course today for department of education.<br>  To advance knowledge and technological transfer through teaching, training, learning, research,<br> and innovation for sustainable development. </p>
          </div>
        </div>

        <div class="carousel-item" col-md-2>
          <img class="d-block w-80" src="static/img/comp4.jpeg" alt="fifth slide">
          <div class="carousel-caption d-none d-md-block"  style="color:blueviolet;">
            <p>Enroll for an online course today. To advance knowledge and technological transfer through <br>teaching, training, learning, research, <br>and innovation for sustainable development.</p>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  


</div>


      
     
    </div>

  </div>
</section>
</div>
</div>











{% endblock %}