{%extends 'layout2.html' %}
{%load static%}
{% load crispy_forms_tags%}
{%block content%}
{%include 'sidebar.html'%}
<link rel="stylesheet" href="{% static 'css/dashboardd.css'%}">
    <div class="container">
        <h3 class="coursesection-title"></h3>
        {% for module in modules %}

        <div style="margin-left: 150px; margin-top: -50px;">
            <h4 class="name"><span style="color: purple;"> {{module.title}} </span></h4>
            <p class="modules"><b>{{module.description}}:</b></p>
            <button class="btn btn-sm" id="buttons" style="color: white;background-color: purple; ">View
                content</button><br><br>


        </div>
        <div class="row" id="viewmodule" style="margin-left: 180px;margin-top: -40px; ">

            <div class="col">
                <img src="{% static 'photos/modules.svg' %}" alt="" height="300" width="300">

                <div class="course-details">

                </div>
                <div class="module">

                    {% for content in module.contents.all %}
                    <p> {% with item=content.item %}</p>


                    <p> {{ item.render }}</p>


                    {% endwith %}
                    {% endfor %}
                </div>

            </div>

            <button class="btn btn-sm" id="buttonss" style="color: white;background-color:cadetblue ">View less</button><br><br>
        </div>
       
        {% endfor %}
        <hr>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'js/toggle.js' %}"></script>
    <style>
        #viewmodule{
            display: none;
        }
        </style>
    {% endblock %}

   