{%extends 'layout.html' %}
{%load static%}
{% load crispy_forms_tags%}
{%block content%}
{%include 'sidebar.html'%}
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="subjects">
          {% for subject in subjects %}
          <a href="{% url 'subject_courses' subject.id %}"><button type="button" id="sub_{{subject.id}}"
            class="btn btn-rounded">{{subject.title}}</button> </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        

        <b>
          <p>You havent enrolled to any Course </p>
        </b>



    <div class="container">
        <div class="row">

            <div class="col-md-4">
               
                <p>{{subject.title}} courses</p>

                {% if my_courses %}
                
                {% for course in my_courses %}
                
                <div class="course-details">

                    <p><i class="fas fa-angle-double-right" ></i> {{course.course.course_name}} </a> ,instructor {{course.course.owner}} </p>
                    <small> {{course.course.number_of_modules}} Available module for {{course.course.course_name}} </small> <br> <br>
                    <small> <i class="fas fa-clock" style="color: purple;"></i>
                        {{course.course.created| date:"M d,Y "}}</small> <br>

                      <br>
                        <a href="{% url 'module_list' course.course.id %}">View</a>
                    
                </div>
                <div class="col-md-">

                    
                </div><br><br>

                {% endfor %}
                {% else %}
                <h3>You Are not enrolled to any Course</h3>
                {% endif %}

               
            </div>
        </div>

    </div>

    <script src="{% static 'js/dashboardd.js' %}"></script>

  {% endblock %}
