
    {%extends 'layout.html' %}
    {%load static%}
    {% load crispy_forms_tags%}
    {%block content%}
    {%include 'sidebar.html'%}
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="subjects">
                    {% for subject in subjects %}
                    <a href="{% url 'subject_courses' subject.id %}"><button type="button" id="sub_{{subject.id}}"
                            class="btn btn-rounded">{{subject.title}}</button> </a>

                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                
                <p>{{subject.title}} courses</p>
                {% for course in subject_courses %}

                <img src="{% static 'photos/course.jpg' %}" alt="" height="180" width="180">

                <div class="course-details">
                    <p class="name">{{course.course_name}}</p>
                    <p class="modules">{{modules}}</p>
                    <p class="reviews">0 reviews</p>
                    <a href="{% url 'module_list' course.id %}">Modules</a>
                </div>
                <div class="col-md-">
                    <div class="subjects">
                        <a href="{% url 'list_of_quiz' course.id %}"><button type="button" id="sub_{{subject.id}}"
                            class="btn btn-rounded">Quiz(s)</button> </a>
                    </div>
                </div>

                {% endfor %}

                
            </div>
        </div>

    </div>

    {% endblock %}
    
   