h3{
  font-weight: bold;
  color: black;
}

p{
  font-size: large;
  font-weight: bold;
}

  

  #peek1{
    display: show;
}
#boo1{
    display: none;
}
#peek2{
    display: show;
}
#boo2{
    display: none;
}
#peek3{
    display: show;
}
#boo3{
    display: none;
}
