
{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/dashboard1.css'%}">

   
{%include 'sidenavbar.html'%}

   <div class="row" style="padding-left: 400px;">
    <img src="{% static 'images/form.jpg' %}" alt="" srcset="" style="height: 350px;width: 450px;margin-bottom: 50px;margin-top: -30px;">
       <div class="col-lg-10" style="margin-left: -100px; margin-right: 70px;">
    <div class="content-section">

  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group" style="width: 550px;">
        <legend class="border-bottom mb-4" style="margin-bottom: 50px;">Upload subject title and detail</legend>
          {{form|crispy }}
      </fieldset>
    <div class="form-group">
        <button class="btn  btn-sm" type="submit" style="background-color: rebeccapurple;color: white;">Upload</button>
    </div>
  </form>

    </div>
</div>
  </div>
  <script src="{% static 'js/dashboard.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
{% endblock %} 