{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/dashboard1.css'%}">

   
{%include 'sidenavbar.html'%}


<img src="{% static 'images/form.jpg' %}" alt="" srcset="" style="height: 250px;width: 250px;margin-bottom: 50px; margin-left: 400px;">
  <div class="col-lg-10" style="margin-left: -100px;">
<div class="row" style="margin-left: 400px;">
  
       <div class="col-md-7">
    <div class="content-section">

  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group" style="width: 550px;">
        <legend class="border-bottom mb-4">Update {{subject.title}} !</legend>
          {{form|crispy}}
      </fieldset>
    <div class="form-group">
        <button class="btn  btn-sm" type="submit" style="background-color: purple;color: white;">Update</button>
    </div>
  </form>

    </div>
</div>
  </div>

{% endblock %}
