
{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/dashboard1.css'%}">

  
{%include 'sidenavbar.html'%}
<h3 style="margin-bottom: 50px;padding-left: 250px; margin-top: 20px;">Hello {{user}} </h3>


      

  </form>
</div> -->
<div class="row" style="padding-left: 130px; margin: 100px;">
  <img src="{% static 'images/teacher.png'%}" alt="" srcset="" style="margin-top: -170px;" style="">
    
    <hr>
  {% for subject in subjects %}
    <div class="col-md-3 mb-4">

      <!-- Card -->
      <div class="card gradient-card">
  
          <div class="card-image" style="background-color: rgb(241, 156, 241);">
  
            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h4 class="card-title">{{subject.title}} </h4>
          {% if subject.username == user %}
          <a href="{% url 'subjects-list' subject.id%}"> <i class="fas fa-trash" style="color: red;" id = "message" onclick="swal()"></i> </a>
          <a href="{% url 'subject-update' subject.id%}"> <i class="fas fa-edit" style="color: purple;"></i> </a>
          {%endif%}
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                
                </div>
              </div>
            </a>
  
          </div>
  
          <!-- Data -->
          <div class="third-content  ml-auto mr-4 mb-2">
            <p class="card-title"> <i class="fas fa-user-tie" style="color: purple; margin-left: 20px;"></i>{{subject.username}}</p>
            
           
          </div>
  
        
  
      </div>
      <!-- Card -->
  
    </div>



    {% endfor %}
</div>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div>



{% endblock %}