
{% block content%}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{%static 'css/dashboard.css'%}">



<div id="mySidebar" class="sidebar" style="text-align: center;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
    <a href="#" style="color: lightcoral; margin-top: -60px;margin-bottom: 35px;margin-right: 20px;"> <span style="color: red; font-size: 30px; font-family: 'Vast Shadow'; ">VS </span> </a>
    <a href="{% url 'profile' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-user-circle" style="color: white;"> </i> <br><span style="font-size: 16px;">Profile</span><br> </a>
    <a href="{% url 'subjects-list' %}" style="color: black;margin-right: 20px; "> <i class="fas fa-graduation-cap" style="color: purple"></i><br><span style="font-size: 16px;">Subjects</span> </a>

    <a href="{% url 'create-subject' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-upload"style="color: white;"> </i> <br> <span style="font-size: 16px;">Upload Subject</span><br> </a>
  
    <a href="{% url 'course_create' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-upload"style="color: white;"> </i> <br> <span style="font-size: 16px;">Upload Course</span><br> </a>
    <a href="{% url 'quiz_create' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-upload"style="color: white;"> </i> <br> <span style="font-size: 16px;">Upload Quiz</span><br> </a>
   
    <a href="{% url 'manage_course_list' %}" style="color: black;margin-right: 20px;"> <i class="fas fa-list-ul" style="color: white;"> </i> <br> <span style="font-size: 16px;"> Courses</span><br> </a>
    <a href="{% url 'dashboard' %}" style="color: black;margin-right: 20px;"> <i class="fa fa-chevron-circle-left" style="font-size:48px;color:black"></i> <br> <span style="font-size: 16px;"> </span><br> </a>
  </div>
<div id="main">
    <button class="openbtn" onclick="openNav()" style="background-color: transparent;color: #111; "></button>
</div>
<h3 style="margin-bottom: 50px;padding-left: 250px; margin-top: 20px;">Hello {{user}} </h3>


      

  </form>
</div> -->
<div class="row" style="padding-left: 130px; margin: 100px;">
  <img src="{% static 'images/teacher.png'%}" alt="" srcset="" style="margin-top: -170px;" style="">
    
    <hr>
  {% for subject in subjects %}
    <div class="col-md-3 mb-4">

      <!-- Card -->
      <div class="card gradient-card">
  
          <div class="card-image" style="background-color: rgb(241, 156, 241);">
  
            <!-- Content -->
            <a href="#!">
              <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                <div class="first-content align-self-center p-3">
                  <h4 class="card-title">{{subject.title}} </h4>
          {% if subject.username == user %}
          <a href="{% url 'subjects-list' subject.id%}"> <i class="fas fa-trash" style="color: red;" id = "message" onclick="swal()"></i> </a>
          <a href="{% url 'subject-update' subject.id%}"> <i class="fas fa-edit" style="color: purple;"></i> </a>
          {%endif%}
                </div>
                <div class="second-content  align-self-center mx-auto text-center">
                
                </div>
              </div>
            </a>
  
          </div>
  
          <!-- Data -->
          <div class="third-content  ml-auto mr-4 mb-2">
            <p class="card-title"> <i class="fas fa-user-tie" style="color: purple; margin-left: 20px;"></i>{{subject.username}}</p>
            
           
          </div>
  
        
  
      </div>
      <!-- Card -->
  
    </div>



    {% endfor %}
</div>

<script src="{% static 'js/dashboard.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

{% endblock %}