{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}

<link rel="stylesheet" href="{%static 'css/dashboard.css'%}">

  
{%include 'sidenavbar.html'%}

<img src="{% static 'images/form.jpg' %}" alt="" srcset="" style="height: 250px;width: 250px;margin-bottom: 50px; margin-left: 400px;">
  <div class="col-lg-10" style="margin-left: -100px;">
<div class="row" style="margin-left: 400px;">
  
       <div class="col-md-7">
    <div class="content-section">

  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group" style="width: 550px;">
        <legend class="border-bottom mb-4">Do you really want to delete {{subject.title}} !</legend>
          {{form|crispy}}
      </fieldset>
    <div class="form-group">
        <button class="btn  btn-sm" type="submit" style="background-color: purple;color: white;width: 100px;">Yes i Do</button>
       <a href="{% url 'subjects-list' %}"> <button class="btn  btn-sm btn-primary" type="submit" style="color: white;margin-top: -60px; margin-left: 120px;width: 100px;">Not sure</button> </a> 
    </div>
  </form>

    </div>
</div>
  </div>

{% endblock %}
<script src="{% static 'js/dashboard.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
